
# Large local map data
/src/app/data/pmtiles/*.pmtiles
/germany.pmtiles
/go-pmtiles_1.31.2_Linux_x86_64/
/germany-luxembourg.pmtiles
/src/app/data/pmtiles
*.pmtiles

# Lokale Importdatei kann echte Unternehmensdaten enthalten
/unternehmensimport/unternehmen.csv

# Python cache files
__pycache__/
*.py[cod]


*.pmtiles
pmtiles.exe